.mat-mdc-list-item .mat-mdc-list-item-line {
  color: #333;
}
.mat-mdc-list-item .mat-mdc-list-item-title {
  color: #333;
}
mat-progress-spinner {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}