<h2>Add Contact</h2>
<form class="container" #form="ngForm" (ngSubmit)="form.valid && saveContact()">
    <div class="fields">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name" name="name" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input matInput [(ngModel)]="phone" name="phone" required>
        </mat-form-field>
    </div>
    <div class="actions">
        <button mat-flat-button color="primary" type="submit">Save</button>
        <button mat-raised-button color="warn" routerLink="/">Cancel</button>
    </div>
</form>
@if(loading()) {
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
}